<!-- <app-invoice-docs [user]="users"></app-invoice-docs> -->
<div  class="pb-2 pl">  <i class="icon-home c-1"></i><span class="c-1 f14">Invoices/Summary-details</span> </div>

<!-- <div  class="pb-2">  <i class="icon-home c-1"></i><span class="c-1 f14">Invoices/Summary-invoice</span> </div> -->
<div class="d-flex flex-wrap pl">
    
    <div class="card mr-1 mx-2 my-2" [routerLink]="['/main-home/listid',row.id]"  routerLinkActive="router-link-active" *ngFor="let row of reportsData"   style="width: 20rem;" >
      <div class="card-body" >
         <div class="d-flex">
          <div class="py-3 status-container">
            <span class="status-1 ">P</span>
          </div>
          <div class="pl-3" >
            <h5 class="f16">{{row.id}}  </h5>
              <h5 class="f16">{{row.date}}  </h5>
              <h6>{{row.invoiceno}}</h6>
          </div>
          <div></div>
         </div>
      
    <div class="d-flex justify-content-between ">
           <div class="pt-4">
          <div class="f14 c4">Base Amount</div>
          <div class="fw-5">{{row.baseamount}}</div>      

         </div>
         <div class="pt-4 ">
          <div class="f14 c4">Total GST</div>
          <div class="fw-5">{{row.totalgst}}</div>      

         </div>
         <div class="pt-4">
          <div class="f14 c4">Total Amount</div>
          <div class="fw-5">{{row.totalamount}}</div>   
              
         </div>
    </div>
       
      </div>
    </div>
    
    <div class="card mr-4" style="width: 20rem;">
      <div class="card-body">
        <div class="d-flex">
         <div class="py-3 status-container">
           <span class="status-2 ">p</span>
         </div>
         <div class="pl-3">
             <h5 class="f16 c4">DD/MM/YYYY</h5>
             <h6 class="f16  mb-2 c4">SDFWE122321333342</h6>
    
         </div>
         <div></div>
        </div>
    
    
    <div class="d-flex justify-content-between ">
          <div class="pt-4">
         <div class="f14 c4">Base Amount</div>
         <div class="fw-5">122130000</div>      
        </div>
        <div class="pt-4 ">
         <div class="f14 c4">Total GST</div>
         <div class="fw-5">130000</div>      
        </div>
        <div class="pt-4">
         <div class="f14 c4">Total Amount</div>
         <div  class="fw-5">122130000</div>      
        </div>
    </div>
      
     </div>
    </div>
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <div class="d-flex">
         <div class="py-3 status-container">
           <span class="status-1 ">p</span>
         </div>
         <div class="pl-3">
             <h5 class="f16 c4">DD/MM/YYYY</h5>
             <h6 class="f16  mb-2 c4">SDFWE122321333342</h6>
    
         </div>
         <div></div>
        </div>
    
    
    <div class="d-flex justify-content-between ">
          <div class="pt-4">
         <div class="f14 c4">Base Amount</div>
         <div class="fw-5">122130000</div>      
        </div>
        <div class="pt-4 ">
         <div class="f14 c4">Total GST</div>
         <div class="fw-5">130000</div>      
        </div>
        <div class="pt-4">
         <div class="f14 c4">Total Amount</div>
         <div  class="fw-5">122130000</div>      
        </div>
    </div>
      
     </div>
    </div>
    <div class="card mr-4 my-3" style="width: 20rem;">
      <div class="card-body">
        <div class="d-flex">
         <div class="py-3 status-container">
           <span class="status-2 ">p</span>
         </div>
         <div class="pl-3">
             <h5 class="f16 c4">DD/MM/YYYY</h5>
             <h6 class="f16  mb-2 c4">SDFWE122321333342</h6>
    
         </div>
         <div></div>
        </div>
    
    
    <div class="d-flex justify-content-between ">
          <div class="pt-4">
         <div class="f14 c4">Base Amount</div>
         <div class="fw-5">122130000</div>      
        </div>
        <div class="pt-4 ">
         <div class="f14 c4">Total GST</div>
         <div class="fw-5">130000</div>      
        </div>
        <div class="pt-4">
         <div class="f14 c4">Total Amount</div>
         <div  class="fw-5">122130000</div>      
        </div>
    </div>
      
     </div>
    </div>
    <div class="card mr-4 my-3" style="width: 20rem;">
      <div class="card-body">
        <div class="d-flex">
         <div class="py-3 status-container">
           <span class="status-1 ">p</span>
         </div>
         <div class="pl-3">
             <h5 class="f16 c4">DD/MM/YYYY</h5>
             <h6 class="f16  mb-2 c4">SDFWE122321333342</h6>
    
         </div>
         <div></div>
        </div>
    
    
    <div class="d-flex justify-content-between ">
          <div class="pt-4">
         <div class="f14 c4">Base Amount</div>
         <div class="fw-5">122130000</div>      
        </div>
        <div class="pt-4 ">
         <div class="f14 c4">Total GST</div>
         <div class="fw-5">130000</div>      
        </div>
        <div class="pt-4">
         <div class="f14 c4">Total Amount</div>
         <div  class="fw-5">122130000</div>      
        </div>
    </div>
      
     </div>
    </div>
    <div class="card  my-3" style="width: 20rem;">
      <div class="card-body">
        <div class="d-flex">
         <div class="py-3 status-container">
           <span class="status-2 ">p</span>
         </div>
         <div class="pl-3">
             <h5 class="f16 c4">DD/MM/YYYY</h5>
             <h6 class="f16  mb-2 c4">SDFWE122321333342</h6>
    
         </div>
         <div></div>
        </div>
    
    
    <div class="d-flex justify-content-between ">
          <div class="pt-4">
         <div class="f14 c4">Base Amount</div>
         <div class="fw-5">122130000</div>      
        </div>
        <div class="pt-4 ">
         <div class="f14 c4">Total GST</div>
         <div class="fw-5">130000</div>      
        </div>
        <div class="pt-4">
         <div class="f14 c4">Total Amount</div>
         <div  class="fw-5">122130000</div>      
        </div>
    </div>
      
     </div>
    </div>
    
    <div class="card mr-4" style="width: 20rem;">
      <div class="card-body">
         <div class="d-flex">
          <div class="py-3 status-container">
            <span class="status-1 ">p</span>
          </div>
          <div class="pl-3">
              <h5 class="f16 c4">DD/MM/YYYY</h5>
              <h6 class="f16  mb-2 c4">SDFWE122321333342</h6>
    
          </div>
          <div></div>
         </div>
    
    
    <div class="d-flex justify-content-between ">
           <div class="pt-4">
          <div class="f14 c4">Base Amount</div>
          <div class="fw-5">122130000</div>      
         </div>
         <div class="pt-4 ">
          <div class="f14 c4">Total GST</div>
          <div class="fw-5">130000</div>      
         </div>
         <div class="pt-4">
          <div class="f14 c4">Total Amount</div>
          <div  class="fw-5">122130000</div>      
         </div>
    </div>
       
      </div>
    </div>
    
    <div class="card mr-4" style="width: 20rem;">
      <div class="card-body">
        <div class="d-flex">
         <div class="py-3 status-container">
           <span class="status-2 ">p</span>
         </div>
         <div class="pl-3">
             <h5 class="f16 c4">DD/MM/YYYY</h5>
             <h6 class="f16  mb-2 c4">SDFWE122321333342</h6>
    
         </div>
         <div></div>
        </div>
    
    
    <div class="d-flex justify-content-between ">
          <div class="pt-4">
         <div class="f14 c4">Base Amount</div>
         <div class="fw-5">122130000</div>      
        </div>
        <div class="pt-4 ">
         <div class="f14 c4">Total GST</div>
         <div class="fw-5">130000</div>      
        </div>
        <div class="pt-4">
         <div class="f14 c4">Total Amount</div>
         <div  class="fw-5">122130000</div>      
        </div>
    </div>
      
     </div>
    </div>
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <div class="d-flex">
         <div class="py-3 status-container">
           <span class="status-1 ">p</span>
         </div>
         <div class="pl-3">
             <h5 class="f16 c4">DD/MM/YYYY</h5>
             <h6 class="f16  mb-2 c4">SDFWE122321333342</h6>     </div>
         <div></div>
        </div>
    
    
    <div class="d-flex justify-content-between ">
          <div class="pt-4">
         <div class="f14 c4">Base Amount</div>
         <div class="fw-5">122130000</div>      
        </div>
        <div class="pt-4 ">
         <div class="f14 c4">Total GST</div>
         <div class="fw-5">130000</div>      
        </div>
        <div class="pt-4">
         <div class="f14 c4">Total Amount</div>
         <div  class="fw-5">122130000</div>      
        </div>
    </div>
      
     </div>
    </div>
    </div>
    
    <div>
      <div>
        <s>
          /\/\/\/\/\/\/\/\/\/\/\/\/\/\/
        </s>
      </div>
    </div>
    
    
    
    
    <!-- <div class=""  >
       <div>
      
        <div class="card mb-2">
          <div class="card-header">
            Billing  Information
          </div>
          <div class="card-body">
            <h5 class="card-title">payment Method</h5>
            <p class="card-text">Payment status</p>
            <a href="#" class="btn btn-primary">Invoice Receipts</a>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header">
            Billing  Information
          </div>
          <div class="card-body">
            <h5 class="card-title">payment Method</h5>
            <p class="card-text">Payment status</p>
            <a href="#" class="btn btn-primary">Invoice Receipts</a>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header">
            Billing  Information
          </div>
          <div class="card-body">
            <h5 class="card-title">payment Method</h5>
            <p class="card-text">Payment status</p>
            <a href="#" class="btn btn-primary">Invoice Receipts</a>
          </div>
        </div>
       </div>
      </div> -->
    
    