.pl{
    padding-left: 23%;
}
.status-1{
    background-color: rgba(228, 55, 55, 0.849);
    padding: 8px 15px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.status-2{
    background-color: rgba(101, 204, 115, 0.849);
    padding: 8px 15px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
// .status-container{
   
   
// }