<div class="d-flex flex-column sidenav flex-shrink-0 p-3 text-white bg-white border" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <img  src="./assets/wittyparrot_logo.png" width="200"  alt="">
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a [routerLink]="['/main-home/list-invoice']"    class="nav-link active" aria-current="page">
        <i class=" icon-home" width="24" height="24" role="icon" aria-label="Dashboard"  ></i>
        Home
      </a>
    </li>
    <li>
      <a [routerLink]="['/main-home']" class="nav-link text-dark">
        <i class=" icon-home" width="24" height="24" role="icon" aria-label="Dashboard"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-dark" [routerLink]="['/home/invoice-list/invoice-details']" >
        <i class=" icon-uat_artifact" width="24" height="24" role="icon" aria-label="Dashboard" ></i>
        Invoice
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-dark" [routerLink]="['/main-home/purchase']" routerLinkActive="router-link-active">
        <i class=" icon-salesforce" width="24" height="24" role="icon" aria-label="Dashboard"></i>
        Purchases
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-dark" [routerLink]="['/home/invoice-list/invoice-sheet']">
        <i class="  icon-open_widget" width="24" height="24" role="icon" aria-label="Dashboard"></i>
        Sales
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-dark" [routerLink]="['/invoice-list/invoice-details']">
        <i class="  icon-edit" width="24" height="24" role="icon" aria-label="Dashboard"></i>
        Reports
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-dark">
        <i class="  icon-actions" width="24" height="24" role="icon" aria-label="Dashboard"></i>
        Settings
      </a>
    </li>
  </ul>
  <hr>
  <!-- <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div> -->
</div>



<!-- <div class="d-flex flex-column flex-shrink-0 bg-light  sidenav" style="width: 6rem;">
        
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center border">
      <li class="nav-item">
        <a href="#" class="nav-link  py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
         <i class=" icon-home" width="24" height="24" role="icon" aria-label="Dashboard"><span  class="fs-12">Dashboard</span></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
            <i class=" icon-home" width="24" height="24" role="icon" aria-label="Dashboard"></i><span  class="fs-12 ml-1 ">invoice</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
            <i class=" icon-home" width="24" height="24" role="icon" aria-label="Dashboard"><span  class="fs-12 ml-2">Admin</span></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
            <i class=" icon-home" width="24" height="24" role="icon" aria-label="Dashboard"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <i class=" icon-home" width="24" height="24" role="icon" aria-label="Dashboard"></i>
        </a>
      </li>
    </ul>
    <div class="dropdown border-top">
      
      <ul class="dropdown-menu text-small " aria-labelledby="dropdownUser3">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div> -->