
<!-- <table>
  <tr>
    <th>Movie Name</th>
    <th></th>
  </tr>
  <tr *ngFor="let movie of movieList">
    <td>{{movie}}</td>
    <td><input type="button" value="Select" 
      (click)="movieSelected(movie)"> </td>
  </tr>
</table> -->
<div class="border border-dark">
    <div id="page1-div" style="position:relative;width:892px;height:1263px;" *ngFor="let user of users">
        <img width="892" height="1263" src="/assets/target001.png" alt="background image"/>
        <p style="position:absolute;top:1222px;left:632px;white-space:nowrap" class="ft10"> <b>Udyog&#160;Aadhaar&#160;[MSME]&#160;Registered</b></p>
        <p style="position:absolute;top:85px;left:50px;white-space:nowrap" class="ft11"><b>Acrowit&#160;Technologies&#160;Pvt.&#160;Ltd.</b></p>
        <p style="position:absolute;top:142px;left:48px;white-space:nowrap" class="ft110"><b>Acrowit&#160;Pan<br/>Udyog&#160;Aadhaar&#160;Number&#160;[MSME]</b></p>
        <p style="position:absolute;top:316px;left:759px;white-space:nowrap" class="ft13"><b>Amount</b></p>
        <p style="position:absolute;top:340px;left:786px;white-space:nowrap" class="ft12"><b>(in&#160;INR)</b></p>
        <p style="position:absolute;top:362px;left:84px;white-space:nowrap" class="ft14">1</p>
        <p style="position:absolute;top:362px;left:780px;white-space:nowrap" class="ft12"><b>103233</b></p>
        <p style="position:absolute;top:497px;left:780px;white-space:nowrap" class="ft111"><b>13213213<br/>12321<br/>12321</b></p>
        <p style="position:absolute;top:575px;left:834px;white-space:nowrap" class="ft111"><b>0<br/>0</b></p>
        <p style="position:absolute;top:746px;left:207px;white-space:nowrap" class="ft12"><b>HDFC0000133</b></p>
        <p style="position:absolute;top:779px;left:48px;white-space:nowrap" class="ft12"><b>MICR&#160;Code</b></p>
        <p style="position:absolute;top:1019px;left:48px;white-space:nowrap" class="ft15"><b>Authorized&#160;Signatory</b></p>
        <p style="position:absolute;top:1132px;left:48px;white-space:nowrap" class="ft15"><b>Acrowit&#160;Technologies&#160;Pvt.&#160;Ltd</b></p>
        <p style="position:absolute;top:818px;left:48px;white-space:nowrap" class="ft16"><b>Terms&#160;and&#160;Conditions:</b></p>
        <p style="position:absolute;top:839px;left:48px;white-space:nowrap" class="ft14">The&#160;above&#160;terms&#160;and&#160;conditions&#160;including&#160;the&#160;prices&#160;quoted&#160;assume&#160;WittyParrot’s&#160;standard&#160;“</p>
        <p style="position:absolute;top:839px;left:729px;white-space:nowrap" class="ft17">Terms&#160;of&#160;</p>
        <p style="position:absolute;top:862px;left:48px;white-space:nowrap" class="ft17">Service</p>
        <p style="position:absolute;top:862px;left:101px;white-space:nowrap" class="ft14">”&#160;will&#160;apply.&#160;Customer&#160;to&#160;be&#160;a&#160;public&#160;reference&#160;for&#160;WittyParrot.&#160;&#160;Reference&#160;activities&#160;would&#160;include&#160;</p>
        <p style="position:absolute;top:884px;left:48px;white-space:nowrap" class="ft14">any&#160;or&#160;all&#160;of&#160;the&#160;following;</p>
        <p style="position:absolute;top:910px;left:48px;white-space:nowrap" class="ft112"><b>•&#160;&#160;Use&#160;of&#160;the&#160;Customer’s&#160;logo&#160;on&#160;WittyParrot’s&#160;website.<br/>•&#160;&#160;Ability&#160;to&#160;display&#160;on&#160;WittyParrot’s&#160;website&#160;favourable&#160;quotes&#160;from&#160;Customer’s&#160;Executives&#160;and&#160;users.<br/>•&#160;&#160;PR&#160;interview&#160;with&#160;major&#160;industry/trade&#160;publications.<br/>•&#160;&#160;Permission&#160;to&#160;use&#160;the&#160;Customer’s&#160;project&#160;as&#160;the&#160;basis&#160;for&#160;a&#160;customer&#160;case&#160;study&#160;(brochure).</b></p>
        <p style="position:absolute;top:362px;left:101px;white-space:nowrap" class="ft15"><b>{{user.description}}</b></p>
        <p style="position:absolute;top:362px;left:668px;white-space:nowrap" class="ft12"><b>{{user.uprice}}</b></p>
        <p style="position:absolute;top:712px;left:48px;white-space:nowrap" class="ft12"><b>Bank&#160;Name</b></p>
        <p style="position:absolute;top:712px;left:207px;white-space:nowrap" class="ft12"><b>HDFC&#160;Bank&#160;LTD,&#160;JP&#160;Nagar&#160;Branch</b></p>
        <p style="position:absolute;top:707px;left:486px;white-space:nowrap" class="ft110"><b>Mailing&#160;<br/>Address</b></p>
        <p style="position:absolute;top:707px;left:564px;white-space:nowrap" class="ft110"><b>4th&#160;Floor,&#160;No&#160;10,&#160;100&#160;Feet&#160;Ring&#160;Rd<br/>JP&#160;Nagar&#160;4th&#160;Phase,&#160;Dollar&#160;Layout<br/>JP&#160;Nagar,&#160;Bengaluru&#160;560078,&#160;<br/>Karnataka</b></p>
        <p style="position:absolute;top:745px;left:48px;white-space:nowrap" class="ft12"><b>NEFT&#160;/&#160;RTGS&#160;Code</b></p>
        <p style="position:absolute;top:779px;left:207px;white-space:nowrap" class="ft12"><b>560240008</b></p>
        <p style="position:absolute;top:573px;left:630px;white-space:nowrap" class="ft18"><b>IGST&#160;@18%</b></p>
        <p style="position:absolute;top:598px;left:548px;white-space:nowrap" class="ft18"><b>Total&#160;After&#160;GST&#160;[INR]</b></p>
        <p style="position:absolute;top:650px;left:48px;white-space:nowrap" class="ft12"><b>Bank&#160;Details&#160;for&#160;Electronic&#160;Funds&#160;Transfer</b></p>
        <p style="position:absolute;top:650px;left:486px;white-space:nowrap" class="ft12"><b>Payee&#160;Details&#160;for&#160;Cheque</b></p>
        <p style="position:absolute;top:677px;left:48px;white-space:nowrap" class="ft12"><b>Account&#160;Number</b></p>
        <p style="position:absolute;top:677px;left:207px;white-space:nowrap" class="ft12"><b>1332320001360</b></p>
        <p style="position:absolute;top:677px;left:486px;white-space:nowrap" class="ft12"><b>Payee</b></p>
        <p style="position:absolute;top:677px;left:564px;white-space:nowrap" class="ft12"><b>Acrowit&#160;Technologies&#160;Private&#160;Limited</b></p>
        <p style="position:absolute;top:496px;left:533px;white-space:nowrap" class="ft18"><b>Total&#160;Before&#160;GST&#160;[INR]</b></p>
        <p style="position:absolute;top:522px;left:632px;white-space:nowrap" class="ft18"><b>CGST&#160;@9%&#160;</b></p>
        <p style="position:absolute;top:547px;left:636px;white-space:nowrap" class="ft18"><b>SGST&#160;@9%</b></p>
        <p style="position:absolute;top:362px;left:594px;white-space:nowrap" class="ft12"><b>{{user.quantity}}</b></p>
        <p style="position:absolute;top:272px;left:668px;white-space:nowrap" class="ft12"><b>{{user.hsn}}</b></p>
        <p style="position:absolute;top:318px;left:48px;white-space:nowrap" class="ft13"><b>Line&#160;&#160;Description</b></p>
        <p style="position:absolute;top:318px;left:512px;white-space:nowrap" class="ft13"><b>Quantity&#160;&#160;&#160;Unit&#160;Price</b></p>
        <p style="position:absolute;top:340px;left:674px;white-space:nowrap" class="ft12"><b>(in&#160;INR)</b></p>
        <p style="position:absolute;top:164px;left:305px;white-space:nowrap" class="ft12"><b>KR03D0126799</b></p>
        <p style="position:absolute;top:195px;left:48px;white-space:nowrap" class="ft18"><b>{{user.custname | uppercase }}</b></p>
        <p style="position:absolute;top:197px;left:509px;white-space:nowrap" class="ft12"><b>GSTIN&#160;&#160;&#160;</b></p>
        <p style="position:absolute;top:197px;left:668px;white-space:nowrap" class="ft12"><b>[GST&#160;of&#160;Customer]</b></p>
        <p style="position:absolute;top:224px;left:48px;white-space:nowrap" class="ft113">{{user.Add1}}<br/>ADDRESS&#160;LINE&#160;2<br/>ADDRESS&#160;LINE&#160;3</p>
        <p style="position:absolute;top:221px;left:509px;white-space:nowrap" class="ft12"><b>PO&#160;Ref</b></p>
        <p style="position:absolute;top:221px;left:668px;white-space:nowrap" class="ft12"><b>{{user.ponumb | uppercase }}</b></p>
        <p style="position:absolute;top:245px;left:509px;white-space:nowrap" class="ft12"><b>Payment&#160;Terms&#160;</b></p>
        <p style="position:absolute;top:245px;left:668px;white-space:nowrap" class="ft12"><b>{{user.PaymentTerms}}</b></p>
        <p style="position:absolute;top:272px;left:509px;white-space:nowrap" class="ft12"><b>HSN/SAC</b></p>
        <p style="position:absolute;top:119px;left:48px;white-space:nowrap" class="ft12"><b>Acrowit&#160;GSTIN</b></p>
        <p style="position:absolute;top:119px;left:305px;white-space:nowrap" class="ft12"><b>29AAKCA9019J1Z8</b></p>
        <p style="position:absolute;top:119px;left:509px;white-space:nowrap" class="ft12"><b>Invoice&#160;Number</b></p>
        <p style="position:absolute;top:119px;left:668px;white-space:nowrap" class="ft12"><b>{{user.inputEmail3 | uppercase }}</b></p>
        <p style="position:absolute;top:142px;left:305px;white-space:nowrap" class="ft12"><b>AAKCA9019J</b></p>
        <p style="position:absolute;top:142px;left:509px;white-space:nowrap" class="ft12"><b>Invoice&#160;Date</b></p>
        <p style="position:absolute;top:142px;left:668px;white-space:nowrap" class="ft12"><b>Date: {{ dateToday |date:'d/M/y'  | uppercase }}</b></p>
        
        <!-- [MMM&#160;DD&#160;YYYY] -->
        </div>

</div>


<!-- <div class="invoice-sheet-1">
<table>
    <tr class="">
    <td colspan="2" rowspan=""><img src="/assets/acrowitlogo.jpg" alt=""></td>
        <td colspan="6" rowspan=""><img src="/assets/invoicelogo.jpg" alt=""></td>
    </tr>
    <tr>
        <td colspan="2" rowspan="">Acrowit Technologies Pvt LTD</td>

    </tr>
    <tr>
        <td colspan="2" rowspan="">Acrowit GSTIN</td>
        <td colspan="2" rowspan="">29AAKCA90019J1Z8</td>
        <td colspan="2" rowspan="">Invoice Number</td>
        <td colspan="2" rowspan="">[AcrowitYYMMMNNN</td>
    </tr>
    <tr>
        <td colspan="2" rowspan="">Acrowit Pan</td>
        <td colspan="2" rowspan="">AAKCA90019J</td>
        <td colspan="2" rowspan="">Invoice Date</td>
        <td colspan="2" rowspan="">[MMM DD YYYY</td>
    </tr>
   
    
       
    <tr>
      <td colspan="4" rowspan="3"><span>Customer Name</span><span>ADDRESS LINE1</span><span>ADDRESS LINE2</span><span>ADDRESS LINE</span></td>
      <td colspan="2">D</td>
      <td colspan="2">E</td>
    </tr>
    <tr>
      <td colspan="2">F</td>
      <td colspan="2">G</td>
    </tr>
    <tr>
      <td colspan="2">H</td>
      <td colspan="2">I</td>
    </tr>
    <tr>
      <td colspan="4" rowspan="2">B </td>
      <td colspan="2">J</td>
      <td colspan="2">K</td>
    </tr>
    <tr>
      <td colspan="4" rowspan="2"> L </td>
    </tr>
    <tr>
      <td colspan="4">C</td>
    </tr>
    <tr>
      <td>SL</td>
      <td>Items</td>
      <td>Due DT</td>
      <td>Qty</td>
      <td>Rate</td>
      <td>Per</td>
      <td>Dis%</td>
      <td>Amt</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="bold">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="3">AMT IN WORD</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>E. & O.E</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="4" rowspan="4"></td>
    </tr>
    <tr>
      <td colspan="4">COMPAGNY NAME</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div> -->

