<div class="pl bg-2 purc-cont">
    <table class="table purchase-table-title bg-1">
        <tr class="fw-6 ">
            <td>ID</td>
             <td>Name</td>
            <td>Date</td>
            <td>Amount</td>
             <td>Invoice</td>
             <td>Status</td>
            
        </tr>
        <tr>
            <td>1</td>
            <td>mehta</td>
            <td>02/03/2023</td>
            <td>231343</td>
            <td>AWQERWA</td>
            <td>Pending<i class="icon-edit"></i></td>
        </tr>
        <tr>
            <td>2</td>
            <td>mishra</td>
            <td>02/03/2023</td>
            <td>233323423</td>
            <td>APFFSNDSD</td>
            <td>Completed<i class="icon-edit"></i></td>
        </tr>
        <tr>
            <td>3</td>
            <td>makio</td>
            <td>02/03/2023</td>
            <td>231343</td>
            <td>AWQERWA</td>
            <td>Pending<i class="icon-edit"></i></td>
        </tr>
        <tr>
            <td>4</td>
            <td>POLDFREE</td>
            <td>02/03/2023</td>
            <td>231343</td>
            <td>AWQERWA</td>
            <td>Pending<i class="icon-edit"></i></td>
        </tr>
        <tr>
            <td>5</td>
            <td>REWSDE</td>
            <td>02/03/2023</td>
            <td>231343</td>
            <td>AWQERWA</td>
            <td>Pending<i class="icon-edit"></i></td>
        </tr>
        <tr>
            <td>6</td>
            <td>kinfer</td>
            <td>02/03/2023</td>
            <td>231343</td>
            <td>AWQERWA</td>
            <td>Pending<i class="icon-edit"></i></td>
        </tr>
        <tr>
            <td>7</td>
            <td>marte</td>
            <td>02/03/2023</td>
            <td>231343</td>
            <td>AWQERWA</td>
            <td>Pending<i class="icon-edit"></i></td>
        </tr>
        <tr>
            <td>8</td>
            <td>mayur</td>
            <td>02/03/2023</td>
            <td>231343</td>
            <td>AWQERWA</td>
            <td>Pending<i class="icon-edit"></i></td>
        </tr>
    </table>
</div>

