<div class=" justify-content-around  login-main-container  table-container">
    <div class="title ">
    <p  class="title-line-1 ">Witty Invoice</p>
    <p class="title-line-2 ">Witty Invoice will help to manage invoice,</p>
    <p class="title-line-3 ">and payment reciept details. </p>
<div class=""> <img class="" src="/assets/screen.jpg" alt=""></div>
   
</div>
<div class="login-card">
   <div class="wit-logo ">
      <img src="/assets/wit-logo.jpg" alt="">
   </div>

<div>

    <div class="wrap-login100 mt-5">
        <form class="login100-form validate-form">

    <div class="wrap-input100 validate-input" data-validate="Username is reauired">
        <span class="label-input100">User ID</span>
        <input class="input100" type="text" name="username" placeholder="XYZ@wp.com" />
    </div>

    <div class="wrap-input100 validate-input password-section" data-validate="Password is required">
        <span class="label-input100">Enter Password</span>
        <div class="eye-review">
            <input class="input100" type="password" name="pass" placeholder="***********" /><button class="icon-btn"><i
                    class="icon-review"></i></button>
            <span class="focus-input100"></span>
        </div>
    </div>

   

    <div class="container-btn ">
        <div class="px-2 py-4   wplb ">
            <button class="login-form-btn px-2 py-2 " [routerLink]="['/main-home']" routerLinkActive="router-link-active" >Login</button>
        </div>
    </div>

    </form>
    </div>



</div>

</div>
</div>



