.inv-list{
   position: absolute;
   top: 60px;
   left: 290px;
   min-width: 66rem;

}
th{
    font-size: 14px;
    color: rgb(150, 141, 141);
    font-weight: 500;
    border-top: 0px;

}
tr{
    font-size: 14px;
    font-weight: 500;
    color: rgb(107, 104, 104);
}