<nav class="navbar navbar-light navbar-fixed-top " >
    <a class="navbar-brand"><span  class="title-invoice">Invoices</span> </a>
    <form class="form-inline">
      <input class="form-control search-container mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <a href="#" class="btn btn-plus btn-outline-primary my-2 my-sm-0" [routerLink]="['/main-home/add-invoice']" routerLinkActive="router-link-active" ><span class=" icon-plus-1 "></span> </a>
    </form>
  </nav>









    <!-- <div class="d-flex  ">
        <div>witty</div>
    <div class="py-2 d-flex align-items-center justify-content-center ">
        <a href="">
             <i class="icon-notification_2  fs-24 "></i>
        </a>
       
        <a href="#" class=" px-3  link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
          </a>
   </div>
    </div> -->



   

<!-- <div class="">
    <div>
        <button>
Dashboard
    </button>  
    </div>
   <div>
    <button>
        invoice
            </button>
   </div>
    
        <div>
            <button>
               Admin
                    </button>
        </div>    
</div> -->
   
   
   
   
   
  