/* You can add global styles to this file, and also import other style files */

.c-1{
    color: rgb(63, 111, 199);
}

.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
    
}
.f22{
    font-size: 24px;
}

.fw-5{
    font-weight: 500;
}
.fw-6{
    font-weight: 600;
}
.c1{
    color: #aaa;
}
.c2{
    color: #ccc;
}
.c3{
    color:black;
}
.c4{
    color: rgb(75, 135, 184);
}