.container{
    border: 2px solid #aaa;
    
    
}

.btn-cont{
  flex-direction: column;
  margin-top: 35%;
  align-items: flex-end;
}
// button{
    
//     border: #aaa;
//     background-color: rgb(53, 119, 156);
//     color: #fff;
//     padding:8px 20px;
//     border-radius: 20px;
// }
.form-1{
  width: 40rem;
}

.Ucase{
  text-transform: uppercase;
  
}

